In [40]:
getwd()
setwd('C:\\Users\\Kashyar\\Documents\\datasetsforproj\\IBM attrition')
getwd()

[1] "C:/Users/Kashyar/Documents/datasetsforproj/IBM attrition"

[1] "C:/Users/Kashyar/Documents/datasetsforproj/IBM attrition"

In [41]:
hrdata<- read.csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
head(hrdata)

  ï..Age Attrition BusinessTravel    DailyRate Department
1 41     Yes       Travel_Rarely     1102      Sales
2 49     No        Travel_Frequently  279      Research & Development
3 37     Yes       Travel_Rarely     1373      Research & Development
4 33     No        Travel_Frequently 1392      Research & Development
5 27     No        Travel_Rarely      591      Research & Development
6 32     No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ...
1 1                2         Life Sciences  1             1              ...
2 8                1         Life Sciences  1             2              ...
3 2                2         Other          1             4              ...
4 3                4         Life Sciences  1             5              ...
5 2                1         Medical        1             7              ...
6 2                2         Life Sciences  1             8              ...
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
3 2                        80            0                 7
4 3                        80            0                 8
5 4                        80            1                 6
6 3                        80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
3 3                     3                0             0
4 3                     3                8             7
5 3                     3                2             2
6 2                     2                7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6

In [42]:
library(dplyr)

library(corrplot)
library(caTools)

In [43]:
# Check for missing values

sapply(hrdata,function(inp){return(sum(is.na(inp)))})

                  ï..Age                Attrition           BusinessTravel
                       0                        0                        0
               DailyRate               Department         DistanceFromHome
                       0                        0                        0
               Education           EducationField            EmployeeCount
                       0                        0                        0
          EmployeeNumber  EnvironmentSatisfaction                   Gender
                       0                        0                        0
              HourlyRate           JobInvolvement                 JobLevel
                       0                        0                        0
                 JobRole          JobSatisfaction            MaritalStatus
                       0                        0                        0
           MonthlyIncome              MonthlyRate       NumCompaniesWorked
                       0                        0                        0
                  Over18                 OverTime        PercentSalaryHike
                       0                        0                        0
       PerformanceRating RelationshipSatisfaction            StandardHours
                       0                        0                        0
        StockOptionLevel        TotalWorkingYears    TrainingTimesLastYear
                       0                        0                        0
         WorkLifeBalance           YearsAtCompany       YearsInCurrentRole
                       0                        0                        0
 YearsSinceLastPromotion     YearsWithCurrManager
                       0                        0

In [44]:
# Check for other abnormalities in the data:

head(hrdata)

  ï..Age Attrition BusinessTravel    DailyRate Department
1 41     Yes       Travel_Rarely     1102      Sales
2 49     No        Travel_Frequently  279      Research & Development
3 37     Yes       Travel_Rarely     1373      Research & Development
4 33     No        Travel_Frequently 1392      Research & Development
5 27     No        Travel_Rarely      591      Research & Development
6 32     No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ...
1 1                2         Life Sciences  1             1              ...
2 8                1         Life Sciences  1             2              ...
3 2                2         Other          1             4              ...
4 3                4         Life Sciences  1             5              ...
5 2                1         Medical        1             7              ...
6 2                2         Life Sciences  1             8              ...
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
3 2                        80            0                 7
4 3                        80            0                 8
5 4                        80            1                 6
6 3                        80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
3 3                     3                0             0
4 3                     3                8             7
5 3                     3                2             2
6 2                     2                7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6

In [45]:
# Correcting the abnormalities:
#1) Column name age
names(hrdata)[1]="Age"
#2) Few columns have all the values same,so removing them
hrdata<- select(hrdata,-EmployeeCount,-StandardHours,-Over18)
head(hrdata,5)

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
  DistanceFromHome Education EducationField EmployeeNumber
1 1                2         Life Sciences  1
2 8                1         Life Sciences  2
3 2                2         Other          4
4 3                4         Life Sciences  5
5 2                1         Medical        7
  EnvironmentSatisfaction ... PerformanceRating RelationshipSatisfaction
1 2                       ... 3                 1
2 3                       ... 4                 4
3 4                       ... 3                 2
4 4                       ... 3                 3
5 1                       ... 3                 4
  StockOptionLevel TotalWorkingYears TrainingTimesLastYear WorkLifeBalance
1 0                 8                0                     1
2 1                10                3                     3
3 0                 7                3                     3
4 0                 8                3                     3
5 1                 6                3                     3
  YearsAtCompany YearsInCurrentRole YearsSinceLastPromotion
1  6             4                  0
2 10             7                  1
3  0             0                  0
4  8             7                  3
5  2             2                  2
  YearsWithCurrManager
1 5
2 7
3 0
4 0
5 2

In [46]:
# Converting Attrition into binary 0 & 1 for convenience:
hrdata$Attrition<-as.integer(hrdata$Attrition)
hrdata$Attrition<-hrdata$Attrition-2
hrdata$Attrition<-hrdata$Attrition*-1
hrdata$Attrition<-as.integer(hrdata$Attrition)
head(hrdata,5)

  Age Attrition BusinessTravel    DailyRate Department
1 41  0         Travel_Rarely     1102      Sales
2 49  1         Travel_Frequently  279      Research & Development
3 37  0         Travel_Rarely     1373      Research & Development
4 33  1         Travel_Frequently 1392      Research & Development
5 27  1         Travel_Rarely      591      Research & Development
  DistanceFromHome Education EducationField EmployeeNumber
1 1                2         Life Sciences  1
2 8                1         Life Sciences  2
3 2                2         Other          4
4 3                4         Life Sciences  5
5 2                1         Medical        7
  EnvironmentSatisfaction ... PerformanceRating RelationshipSatisfaction
1 2                       ... 3                 1
2 3                       ... 4                 4
3 4                       ... 3                 2
4 4                       ... 3                 3
5 1                       ... 3                 4
  StockOptionLevel TotalWorkingYears TrainingTimesLastYear WorkLifeBalance
1 0                 8                0                     1
2 1                10                3                     3
3 0                 7                3                     3
4 0                 8                3                     3
5 1                 6                3                     3
  YearsAtCompany YearsInCurrentRole YearsSinceLastPromotion
1  6             4                  0
2 10             7                  1
3  0             0                  0
4  8             7                  3
5  2             2                  2
  YearsWithCurrManager
1 5
2 7
3 0
4 0
5 2

In [47]:
# Studying the variables & their unique categories:
for(i in 1:35)
{if(length(unique(hrdata[,i]))<=10)
  { print(names(hrdata[i]))
  print(unique(hrdata[,i])) }}

[1] "Attrition"
[1] 0 1
[1] "BusinessTravel"
[1] Travel_Rarely     Travel_Frequently Non-Travel
Levels: Non-Travel Travel_Frequently Travel_Rarely
[1] "Department"
[1] Sales                  Research & Development Human Resources
Levels: Human Resources Research & Development Sales
[1] "Education"
[1] 2 1 4 3 5
[1] "EducationField"
[1] Life Sciences    Other            Medical          Marketing
[5] Technical Degree Human Resources
6 Levels: Human Resources Life Sciences Marketing Medical ... Technical Degree
[1] "EnvironmentSatisfaction"
[1] 2 3 4 1
[1] "Gender"
[1] Female Male
Levels: Female Male
[1] "JobInvolvement"
[1] 3 2 4 1
[1] "JobLevel"
[1] 2 1 3 4 5
[1] "JobRole"
[1] Sales Executive           Research Scientist
[3] Laboratory Technician     Manufacturing Director
[5] Healthcare Representative Manager
[7] Sales Representative      Research Director
[9] Human Resources
9 Levels: Healthcare Representative Human Resources ... Sales Representative
[1] "JobSatisfaction"
[1] 4 2 3 1
[1] "MaritalStatus"
[1] Single   Married  Divorced
Levels: Divorced Married Single
[1] "NumCompaniesWorked"
 [1] 8 1 6 9 0 4 5 2 7 3
[1] "OverTime"
[1] Yes No
Levels: No Yes
[1] "PerformanceRating"
[1] 3 4
[1] "RelationshipSatisfaction"
[1] 1 4 2 3
[1] "StockOptionLevel"
[1] 0 1 3 2
[1] "TrainingTimesLastYear"
[1] 0 3 2 5 1 4 6
[1] "WorkLifeBalance"
[1] 1 3 2 4

ERROR: Error in `[.data.frame`(hrdata, , i): undefined columns selected

In [48]:
# Seemed to have understood the content of data now.
# Lets check the datatype of variables:
str(hrdata)

'data.frame':	1470 obs. of  32 variables:
 $ Age                     : int  41 49 37 33 27 32 59 30 38 36 ...
 $ Attrition               : int  0 1 0 1 1 1 1 1 1 1 ...
 $ BusinessTravel          : Factor w/ 3 levels "Non-Travel","Travel_Frequently",..: 3 2 3 2 3 2 3 3 2 3 ...
 $ DailyRate               : int  1102 279 1373 1392 591 1005 1324 1358 216 1299 ...
 $ Department              : Factor w/ 3 levels "Human Resources",..: 3 2 2 2 2 2 2 2 2 2 ...
 $ DistanceFromHome        : int  1 8 2 3 2 2 3 24 23 27 ...
 $ Education               : int  2 1 2 4 1 2 3 1 3 3 ...
 $ EducationField          : Factor w/ 6 levels "Human Resources",..: 2 2 5 2 4 2 4 2 2 4 ...
 $ EmployeeNumber          : int  1 2 4 5 7 8 10 11 12 13 ...
 $ EnvironmentSatisfaction : int  2 3 4 4 1 4 3 4 4 3 ...
 $ Gender                  : Factor w/ 2 levels "Female","Male": 1 2 2 1 2 2 1 2 2 2 ...
 $ HourlyRate              : int  94 61 92 56 40 79 81 67 44 94 ...
 $ JobInvolvement          : int  3 2 2 3 3 3 4 3 2 3 ...
 $ JobLevel                : int  2 2 1 1 1 1 1 1 3 2 ...
 $ JobRole                 : Factor w/ 9 levels "Healthcare Representative",..: 8 7 3 7 3 3 3 3 5 1 ...
 $ JobSatisfaction         : int  4 2 3 3 2 4 1 3 3 3 ...
 $ MaritalStatus           : Factor w/ 3 levels "Divorced","Married",..: 3 2 3 2 2 3 2 1 3 2 ...
 $ MonthlyIncome           : int  5993 5130 2090 2909 3468 3068 2670 2693 9526 5237 ...
 $ MonthlyRate             : int  19479 24907 2396 23159 16632 11864 9964 13335 8787 16577 ...
 $ NumCompaniesWorked      : int  8 1 6 1 9 0 4 1 0 6 ...
 $ OverTime                : Factor w/ 2 levels "No","Yes": 2 1 2 2 1 1 2 1 1 1 ...
 $ PercentSalaryHike       : int  11 23 15 11 12 13 20 22 21 13 ...
 $ PerformanceRating       : int  3 4 3 3 3 3 4 4 4 3 ...
 $ RelationshipSatisfaction: int  1 4 2 3 4 3 1 2 2 2 ...
 $ StockOptionLevel        : int  0 1 0 0 1 0 3 1 0 2 ...
 $ TotalWorkingYears       : int  8 10 7 8 6 8 12 1 10 17 ...
 $ TrainingTimesLastYear   : int  0 3 3 3 3 2 3 2 2 3 ...
 $ WorkLifeBalance         : int  1 3 3 3 3 2 2 3 3 2 ...
 $ YearsAtCompany          : int  6 10 0 8 2 7 1 1 9 7 ...
 $ YearsInCurrentRole      : int  4 7 0 7 2 7 0 0 7 7 ...
 $ YearsSinceLastPromotion : int  0 1 0 3 2 3 0 0 1 7 ...
 $ YearsWithCurrManager    : int  5 7 0 0 2 6 0 0 8 7 ...

In [49]:
# Correcting the data types:
hrdata$EnvironmentSatisfaction<-as.factor(hrdata$EnvironmentSatisfaction)
hrdata$JobInvolvement<-as.factor(hrdata$JobInvolvement)
hrdata$JobLevel<-as.factor(hrdata$JobLevel)
hrdata$JobSatisfaction<-as.factor(hrdata$JobSatisfaction)
hrdata$RelationshipSatisfaction<-as.factor(hrdata$RelationshipSatisfaction)
hrdata$StockOptionLevel<-as.factor(hrdata$StockOptionLevel)
hrdata$WorkLifeBalance<-as.factor(hrdata$WorkLifeBalance)
str(hrdata)

'data.frame':	1470 obs. of  32 variables:
 $ Age                     : int  41 49 37 33 27 32 59 30 38 36 ...
 $ Attrition               : int  0 1 0 1 1 1 1 1 1 1 ...
 $ BusinessTravel          : Factor w/ 3 levels "Non-Travel","Travel_Frequently",..: 3 2 3 2 3 2 3 3 2 3 ...
 $ DailyRate               : int  1102 279 1373 1392 591 1005 1324 1358 216 1299 ...
 $ Department              : Factor w/ 3 levels "Human Resources",..: 3 2 2 2 2 2 2 2 2 2 ...
 $ DistanceFromHome        : int  1 8 2 3 2 2 3 24 23 27 ...
 $ Education               : int  2 1 2 4 1 2 3 1 3 3 ...
 $ EducationField          : Factor w/ 6 levels "Human Resources",..: 2 2 5 2 4 2 4 2 2 4 ...
 $ EmployeeNumber          : int  1 2 4 5 7 8 10 11 12 13 ...
 $ EnvironmentSatisfaction : Factor w/ 4 levels "1","2","3","4": 2 3 4 4 1 4 3 4 4 3 ...
 $ Gender                  : Factor w/ 2 levels "Female","Male": 1 2 2 1 2 2 1 2 2 2 ...
 $ HourlyRate              : int  94 61 92 56 40 79 81 67 44 94 ...
 $ JobInvolvement          : Factor w/ 4 levels "1","2","3","4": 3 2 2 3 3 3 4 3 2 3 ...
 $ JobLevel                : Factor w/ 5 levels "1","2","3","4",..: 2 2 1 1 1 1 1 1 3 2 ...
 $ JobRole                 : Factor w/ 9 levels "Healthcare Representative",..: 8 7 3 7 3 3 3 3 5 1 ...
 $ JobSatisfaction         : Factor w/ 4 levels "1","2","3","4": 4 2 3 3 2 4 1 3 3 3 ...
 $ MaritalStatus           : Factor w/ 3 levels "Divorced","Married",..: 3 2 3 2 2 3 2 1 3 2 ...
 $ MonthlyIncome           : int  5993 5130 2090 2909 3468 3068 2670 2693 9526 5237 ...
 $ MonthlyRate             : int  19479 24907 2396 23159 16632 11864 9964 13335 8787 16577 ...
 $ NumCompaniesWorked      : int  8 1 6 1 9 0 4 1 0 6 ...
 $ OverTime                : Factor w/ 2 levels "No","Yes": 2 1 2 2 1 1 2 1 1 1 ...
 $ PercentSalaryHike       : int  11 23 15 11 12 13 20 22 21 13 ...
 $ PerformanceRating       : int  3 4 3 3 3 3 4 4 4 3 ...
 $ RelationshipSatisfaction: Factor w/ 4 levels "1","2","3","4": 1 4 2 3 4 3 1 2 2 2 ...
 $ StockOptionLevel        : Factor w/ 4 levels "0","1","2","3": 1 2 1 1 2 1 4 2 1 3 ...
 $ TotalWorkingYears       : int  8 10 7 8 6 8 12 1 10 17 ...
 $ TrainingTimesLastYear   : int  0 3 3 3 3 2 3 2 2 3 ...
 $ WorkLifeBalance         : Factor w/ 4 levels "1","2","3","4": 1 3 3 3 3 2 2 3 3 2 ...
 $ YearsAtCompany          : int  6 10 0 8 2 7 1 1 9 7 ...
 $ YearsInCurrentRole      : int  4 7 0 7 2 7 0 0 7 7 ...
 $ YearsSinceLastPromotion : int  0 1 0 3 2 3 0 0 1 7 ...
 $ YearsWithCurrManager    : int  5 7 0 0 2 6 0 0 8 7 ...